#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Beerocks AP Manager service
Requires=systemd-ubus.service
After=systemd-wave_init.service

[Service]
Type=forking
ExecStart=/bin/sh -c '/opt/prplmesh/scripts/prplmesh_rdkb_utils.sh start'
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
